html, body {
  font-family: "Helvetica Neue", Verdana, "Verdana Ref", sans-serif;
}

.map-container {
  height: 650px;
  width: 50%;
  float: left;
}

#map {
  height: 100%;
  width:100%;
}

.table-container {
  width: 45%;
  height: 650px;
  float: right;
  padding: 5px;
}

.table-container h3 {
  text-align: center;
}

.table-container table {
  width: 100%;
}

tbody, thead {
  display: block;
}

thead {
  background-color: grey;
  color: white;
}

tbody {
  background-color: lightgrey;
  border-spacing: 2px;
}

thead tr, tbody tr {
  display: flex;
}

thead tr td, tbody tr td {
  text-align: center;
}

.table-container thead tr td:nth-child(1),
.table-container tbody tr td:nth-child(1) {
  width: 50%;
}
.table-container thead tr td:nth-child(2),
.table-container tbody tr td:nth-child(2) {
  width: 25%;
}
.table-container thead tr td:nth-child(3),
.table-container tbody tr td:nth-child(3) {
  width: 25%;
}

.table-container tbody tr {
  background-color: #e7e7e7;
}

.table-container tbody tr:nth-of-type(odd) {
  background-color: #c4c4c4;
}

tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.legend {
  background-color: #c4c4c4;
  padding: 5px;
}
